/*1st animation - just scale*/
.nickStyle.scale:hover{
	transform: scale(1.1);
	transition: 0.3s all ease-in;
}

.nickStyle.scale{
	transform: scale(1);
	transition: 0.2s all ease-in;
}


/*2st animation - scale and box shadow*/
.nickStyle.scale-shadow:hover{
	transform: scale(1.04);
	box-shadow: 1px 1px 10px 1px;
	transition: 0.3s all ease-in;
	cursor: pointer;
}

.nickStyle.scale-shadow{
	transform: scale(1);
	transition: 0.2s all ease-in;
}




/*razmatra se*/
/* 
.nickStyle.floatUp {
	margin-top: 70px;
	opacity: 0%;
}

.nickStyle.floatUp.showUp {
	margin-top: 0px;
	opacity: 100%;
	transition: 1s ease-in;
}


.nickStyle.floatLeft {
	margin-left: -100px;
	opacity: 0%;
}

.nickStyle.floatLeft:hover {
	margin-left: 0px;
	opacity: 100%;
	transition: 1s ease-in;
} 
*/




/*Animation 4 code - float and opacity in on scroll*/

/*DOcumentation - place this class 'nickStyle item' on any section or element you would like to be 
displayed when it is 40% away from the bottom of the screen*/
.nickStyle.item {
	opacity: 0%;
	margin-top: 50px;
}

#show {
	margin-top: 0px;
	opacity:100%;
	transition: 1s all;
}




/* Animation 5 --------------------------------------------------- line box*/

.nickStyle.line-draw {
	position: relative;
	/*box-sizing: border-box;*/
}

.nickStyle.line-draw:before {
	content: '';
	position: absolute;
	animation: line-draw-back 0.7s ease-in;
	border-left: 2px solid blue;
	border-top: 2px solid blue;
	top: -2px;
	left: 0;
	width: 0%;
	height: 0%;
	opacity: 0%;
}

.nickStyle.line-draw:after {
	content: '';
	position: absolute;
	animation: line-draw-back 0.7s ease-in;
	border-bottom: 2px solid blue;
	border-right: 2px solid blue;
	bottom: 0;
	right: 0px;
	width: 0%;
	height: 0%;
	opacity: 0%;
}

.nickStyle.line-draw:hover:after, .nickStyle.line-draw:hover:before {
	animation: line-draw 0.7s ease-in forwards;
	display: block;
}

@keyframes line-draw {
	0% {
		opacity:0%;
		width: 0%;
		height: 0%;
	}

	5%{
		opacity: 100%;
	}
	100% {
		opacity: 100%;
		width: 100%;
		height: 100%;
	}
}

@keyframes line-draw-back {
	0% {
		width: 100%;
		height: 100%;
		opacity: 100%
	}

	99% {
		opacity: 100%;
	}
	100% {
		width: 0%;
		height: 0%;
		opacity: 0%;
	}
}




/*
	stavi neki underline texta, i ono sa kutijom je kul
*/


