/*1st animation - scale*/
.nickStyle.scale:hover{
	animation: scale 0.3s ease-in forwards;
}

.nickStyle.scale{
	animation: scale-back 0.2s ease-in;
}

@keyframes scale {
	0% {
	transform: scale(1);
	}

	100% {
	transform: scale(1.1);
	}
}

@keyframes scale-back {
	0% {
	transform: scale(1.1);
	}

	100% {
	transform: scale(1);	
	}
}


/*2st animation - scale-shadow*/
.nickStyle.scale-shadow:hover{
	transform: scale(1.02);
	animation: 0.3s scale-hover ease-in forwards;
	cursor: pointer;
}

.nickStyle.scale-shadow{
	transform: scale(1);
	animation: 0.2s scale-hover-back ease-in;
}

@keyframes scale-hover {
	0% {
	transform: scale(1);
	box-shadow: none;
	}

	100% {
	transform: scale(1.0.2);
	box-shadow: 1px 1px 10px 1px;
	}
}

@keyframes scale-hover-back {
	0% {
	transform: scale(1.02);
	box-shadow: 1px 1px 10px 1px;
	}

	100% {
	transform: scale(1);
	box-shadow: none;
	}
}



/*Animation 3 - float up and full opacity on scroll*/
.nickStyle.item {
	opacity: 0%;
	margin-top: 50px;
}

@keyframes item-show {
	0%{
		opacity: 0%;
		margin-top: 50px;
	}

	100%{
		opacity: 100%;
		margin-top: 0px;
	}
}



/* Animation 4 - line-draw*/
.nickStyle.line-draw {
	position: relative;
}

.nickStyle.line-draw:before {
	content: '';
	position: absolute;
	animation: line-draw-back 0.7s ease-in;
	border-left: 2px solid blue;
	border-top: 2px solid blue;
	top: -2px;
	left: 0;
	width: 0%;
	height: 0%;
	opacity: 0%;
}

.nickStyle.line-draw:after {
	content: '';
	position: absolute;
	animation: line-draw-back 0.7s ease-in;
	border-bottom: 2px solid blue;
	border-right: 2px solid blue;
	bottom: 0;
	right: 0px;
	width: 0%;
	height: 0%;
	opacity: 0%;
}

.nickStyle.line-draw:hover:after, .nickStyle.line-draw:hover:before {
	animation: line-draw 0.7s ease-in forwards;
	display: block;
}

@keyframes line-draw {
	0% {
		opacity:0%;
		width: 0%;
		height: 0%;
	}

	5%{
		opacity: 100%;
	}
	100% {
		opacity: 100%;
		width: 100%;
		height: 100%;
	}
}

@keyframes line-draw-back {
	0% {
		width: 100%;
		height: 100%;
		opacity: 100%
	}

	99% {
		opacity: 100%;
	}
	100% {
		width: 0%;
		height: 0%;
		opacity: 0%;
	}
}




/*
	animation 5 - tilt
*/
.nickStyle.tilt {
	animation: tilt-back 0.6s ease-in forwards;
}
.nickStyle.tilt:hover {
	animation: tilt 1s forwards;
}

@keyframes tilt {
	0%{
		transform: rotate(0deg);
	}

	25%{
		transform: rotate(30deg);
	}

	50%{
		transform: rotate(-30deg);
	}

	75%{
		transform: rotate(30deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

@keyframes tilt-back {
	0%{
		transform: rotate(0deg);
	}

	33%{
		transform: rotate(30deg);
	}

	66%{
		transform: rotate(-30deg);
	}

	100%{
		transform: rotate(0deg);
	}
}


