/*1st animation - just scale*/
.nickStyle.scale:hover{
	transform: scale(1.1);
	transition: 0.3s all ease-in;
}

.nickStyle.scale{
	transform: scale(1);
	transition: 0.2s all ease-in;
}


/*2st animation - scale and box shadow*/
.nickStyle.scale-shadow:hover{
	transform: scale(1.04);
	box-shadow: 1px 1px 10px 1px;
	transition: 0.3s all ease-in;
	cursor: pointer;
}

.nickStyle.scale-shadow{
	transform: scale(1);
	transition: 0.2s all ease-in;
}




/*razmatra se*/
.nickStyle.floatUp {
	margin-top: 70px;
	opacity: 0%;
}

.nickStyle.floatUp.showUp {
	margin-top: 0px;
	opacity: 100%;
	transition: 1s ease-in;
}

/*razmatra se*/
.nickStyle.floatLeft {
	margin-left: -100px;
	opacity: 0%;
}

.nickStyle.floatLeft:hover {
	margin-left: 0px;
	opacity: 100%;
	transition: 1s ease-in;
}






/*Animation 4 code - float and opacity in on scroll*/

/*DOcumentation - place this class 'nickStyle item' on any section or element you would like to be 
displayed when it is 40% away from the bottom of the screen*/
.nickStyle.item {
	opacity: 0%;
	margin-top: 50px;
}

#show {
	margin-top: 0px;
	opacity:100%;
	transition: 1s all;
}

/*
	stavi neki underline texta, i ono sa kutijom je kul
*/


